//= require normalize

@charset "utf-8"

@import "compass"

@import 'lib/fonts'

$orange: #F64E3E

body
  color: #111
  line-height: 140%
  font: 13px/1.231 sans-serif
  *font-size: small
  font-family: "Helvetica Neue", Helvetica, Arial

  background: image-url('double_lined.png')
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5)
    &
      background: image-url('double_lined_@2X.png')
      +background-size(image-width('double_lined.png'), auto)

.main
  max-width: 960px
  min-width: 768px
  margin: auto

h1
  font-family: LobsterTwo
  color: $orange
  font-size: 72px
  font-weight: bold
  text-align: center

figure.example
  position: absolute
  width: 960px
  height: 240px
  +single-box-shadow

  .emberscript, .javascript
    margin: 0
    position: absolute
    width: 50%
    height: 100%
  .emberscript
    left: 0
  .javascript
    right: 0